<!-- Css -->
<link rel="stylesheet" href="/static/js/layui/css/layui.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="/static/css/uploadify.css"/>-->



<script src="/static/js/Jquery.min.js"></script>
<script src="/static/js/layui/layui.js"></script>
<script src="/static/js/Main.js"></script>
<script src="/static/js/Utils.js"></script>
<!--<script src="/static/js/layer.js"></script>-->
<!--<script src="/static/js/jquery.uploadify.min.js"></script>-->
<!--<script src="http://demo.defaultfish.com/Public/Base/Js/jQuery.Hz2Py-min.js"></script>-->

<!--<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">-->



<!--<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>-->


<!--<script src="/Public/Editor/ueditor.config.js"></script>-->
<!--<script src="/Public/Editor/ueditor.all.js"></script>-->
<!--<script src="/Public/Js/index.js"></script>-->
<!--<script src="/Public/Js/Action.js"></script>-->

<!--<style type="text/css">-->
    <!--html, body {-->
        <!--height: 100%;-->
        <!--overflow: hidden;-->
    <!--}-->

    <!--html {-->
        <!--background-color: #2bb0d4;-->
    <!--}-->

    <!--body {-->
        <!--margin: 0 50% 0 0;-->
        <!--border-right: 160px solid #2bb0d4;-->
    <!--}-->
<!--</style>-->

